<div
  class="min-h-screen flex items-center justify-center py-6 px-4 bg-cover bg-center bg-no-repeat"
  style="background-image: url('background.png')"
>
  <div
    class="items-center gap-4 max-w-xl w-full bg-white/60 dark:bg-dark-background/80 p-4 rounded-lg shadow-lg"
  >
    <div
      class="border border-secondary rounded-lg p-6 max-w-md shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] mx-auto bg-white dark:bg-dark-background"
    >
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        class="space-y-4"
      >
        <div class="mb-8">
          <h3
            class="text-primary text-4xl font-extrabold text-center dark:text-dark-primary"
          >
            Regístrate en PetCalendar
          </h3>
          <p class="text-text text-sm mt-4 leading-relaxed dark:text-dark-text">
            ¡Crea tu cuenta y descubre una forma más sencilla de gestionar el
            bienestar de tus fieles compañeros!
          </p>
        </div>
        <div
          *ngIf="errorMessage"
          class="p-2 text-sm text-red-500 bg-red-100 rounded-md"
        >
          {{ errorMessage }}
        </div>

        <div>
          <label class="text-text text-sm mb-2 block dark:text-dark-text">
            Nombre de usuario
          </label>
          <div class="relative flex items-center">
            <input
              formControlName="username"
              name="username"
              type="text"
              required
              class="w-full text-sm text-text border border-secondary px-4 py-3 rounded-lg outline-primary dark:text-dark-text dark:border-dark-secondary dark:bg-dark-background"
              placeholder="Username"
            />
            <fa-icon
              [icon]="['fas', 'user']"
              class="w-[18px] h-[18px] absolute right-4 text-gray-400"
            ></fa-icon>
          </div>
          <div
            *ngIf="
              registerForm.get('username')?.invalid &&
              (registerForm.get('username')?.touched ||
                registerForm.get('username')?.dirty)
            "
            class="text-red-500 text-sm mt-1"
          >
            El nombre de usuario es requerido.
          </div>
        </div>

        <div>
          <label class="text-text text-sm mb-2 block dark:text-dark-text">
            Email
          </label>
          <div class="relative flex items-center">
            <input
              formControlName="email"
              name="email"
              type="email"
              required
              class="w-full text-sm text-text border border-secondary px-4 py-3 rounded-lg outline-primary dark:text-dark-text dark:border-dark-secondary dark:bg-dark-background"
              placeholder="example@example.com"
            />
            <fa-icon
              [icon]="['fas', 'envelope']"
              class="w-[18px] h-[18px] absolute right-4 text-gray-400"
            ></fa-icon>
          </div>
          <div
            *ngIf="
              registerForm.get('email')?.invalid &&
              (registerForm.get('email')?.touched ||
                registerForm.get('email')?.dirty)
            "
            class="text-red-500 text-sm mt-1"
          >
            <p *ngIf="registerForm.get('email')?.errors?.['required']">
              El correo electrónico es obligatorio.
            </p>
            <p *ngIf="registerForm.get('email')?.errors?.['email']">
              Por favor, introduce un correo electrónico válido.
            </p>
          </div>
        </div>

        <div>
          <label class="text-text text-sm mb-2 block dark:text-dark-text">
            Contraseña
          </label>
          <div class="relative flex items-center">
            <input
              formControlName="password"
              name="password"
              [type]="passwordVisible ? 'text' : 'password'"
              required
              class="w-full text-sm text-text border border-secondary px-4 py-3 rounded-lg outline-primary dark:text-dark-text dark:border-dark-secondary dark:bg-dark-background"
              placeholder="******"
            />
            <fa-icon
              [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']"
              (click)="togglePasswordVisibility()"
              class="w-[18px] h-[18px] absolute right-4 text-gray-400 cursor-pointer"
            ></fa-icon>
          </div>
        </div>

        <div>
          <label class="text-text text-sm mb-2 block dark:text-dark-text">
            Confirmar contraseña
          </label>
          <div class="relative flex items-center">
            <input
              formControlName="confirmPassword"
              name="confirmPassword"
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              required
              class="w-full text-sm text-text border border-secondary px-4 py-3 rounded-lg outline-primary dark:text-dark-text dark:border-dark-secondary dark:bg-dark-background"
              placeholder="******"
            />
            <fa-icon
              [icon]="
                confirmPasswordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']
              "
              (click)="toggleConfirmPasswordVisibility()"
              class="w-[18px] h-[18px] absolute right-4 text-gray-400 cursor-pointer"
            ></fa-icon>
          </div>
          <div
            *ngIf="registerForm.errors?.['passwordMismatch'] && (registerForm.touched || registerForm.dirty)"
            class="text-red-500 text-sm mt-1"
          >
            Las contraseñas no coinciden.
          </div>
        </div>

        <div class="!mt-8">
          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="w-full shadow-xl py-3 px-4 text-md tracking-wide rounded-lg text-white bg-primary hover:bg-secondary focus:outline-none dark:bg-dark-primary dark:hover:bg-dark-secondary"
          >
            Regístrate
          </button>
        </div>

        <p class="text-sm !mt-8 text-center text-text dark:text-dark-text">
          ¿Ya tienes una cuenta?
          <a
            routerLink="/login"
            class="text-primary font-semibold hover:underline ml-1 whitespace-nowrap dark:text-dark-secondary"
          >
            Inicia sesión aquí
          </a>
        </p>
      </form>
    </div>
  </div>
</div>
