<main class="flex flex-col justify-center items-center text-center">
  <p class="text-4xl font-semibold text-primary dark:text-dark-primary">
    Error
  </p>
  <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">
    ¡Esta página no existe!
  </h1>
  <p class="mt-6 text-base leading-7 text-gray-600">
    Parece que no podemos encontrar lo que estás buscando.
  </p>
  <div class="mt-10 flex items-center justify-center gap-x-6">
    <button
      class="block px-4 py-2 text-white font-semibold bg-secondary hover:bg-primary dark:text-dark-text dark:bg-dark-secondary dark:hover:bg-dark-primary rounded-xl"
      routerLink="/dashboard/home"
    >
      Volver al inicio
    </button>
  </div>
</main>
