<!-- Navbar Superior -->
<nav
  class="flex justify-between items-center p-4 bg-secondary dark:bg-dark-background text-primary dark:text-dark-primary lg:hidden"
>
  <div class="flex items-center">
    <span class="text-2xl font-bold">PetCalendar</span>
  </div>
  <button
    class="inline-flex items-center p-2 text-sm rounded-lg lg:hidden"
    aria-controls="dropdown-menu"
    (click)="toggleDropdown()"
  >
    <fa-icon [icon]="['fas', 'bars']" class="text-xl"></fa-icon>
  </button>
  <div
    *ngIf="isDropdownOpen"
    id="dropdown-menu"
    class="absolute right-4 top-20 w-52 bg-secondary rounded-lg shadow-lg dark:bg-dark-background z-10"
  >
    <ul class="py-4">
      <li class="flex justify-end me-4 mb-2">
        <app-theme-toggle></app-theme-toggle>
      </li>
      <app-menu-items
        *ngFor="let item of navItems"
        [link]="item.link"
        [icon]="item.icon"
        [label]="item.label"
        [closeDropdown]="closeDropdown"
      ></app-menu-items>
      <hr class="border-t border-gray-100 dark:border-gray-500 my-2" />
      <li>
        <button
          class="block px-4 py-2 text-white font-semibold hover:text-primary dark:text-dark-text dark:hover:text-dark-primary"
          (click)="logoutAndCloseDropdown()"
        >
          <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
          <span class="flex-1 ms-3">Cerrar sesión</span>
        </button>
      </li>
    </ul>
  </div>
</nav>

<!-- Sidebar -->
<aside
  *ngIf="isLargeScreen"
  class="flex flex-col h-screen z-40 w-64 bg-secondary dark:bg-dark-background transition-transform pb-24 rounded-e-full"
>
  <div class="flex items-center justify-between p-8 my-28">
    <h1 class="text-3xl font-bold text-primary dark:text-dark-primary">
      PetCalendar
    </h1>
  </div>
  <div class="flex-1 p-4">
    <ul class="space-y-2 font-medium">
      <app-menu-items
        *ngFor="let item of navItems"
        [link]="item.link"
        [icon]="item.icon"
        [label]="item.label"
      ></app-menu-items>
    </ul>
  </div>
  <div class="p-8">
    <app-theme-toggle></app-theme-toggle>
  </div>
  <div class="p-8 my-28">
    <button
      class="w-40 py-2 px-4 font-semibold text-white bg-primary dark:bg-dark-primary rounded-lg transition duration-200 hover:scale-110"
      (click)="logout()"
    >
      Cerrar sesión
    </button>
  </div>
</aside>
