<footer
  class="bg-secondary dark:bg-dark-background text-primary dark:text-dark-primary w-full flex-shrink-0 flex justify-between items-center p-4 lg:px-4 lg:fixed lg:bottom-0"
>
  <span class="text-sm">© 2024 PetCare</span>
  <div class="flex items-center">
    <span class="text-xs">App realizada por Sandra Rodríguez</span>
    <fa-icon [icon]="['fab', 'angular']" class="px-2"></fa-icon>
    <span class="text-xs">y</span>
    <fa-icon [icon]="['fas', 'leaf']" class="px-2"></fa-icon>
  </div>
</footer>
